{{ define "main" }}


<div class="container homepage-main">

    <div class="about-title1">About Me</div>
    <div>Name in Chinese: {{ .Params.name_cn }}</div>

    <div class="about-title2">Academic Appointment</div>
    <ul>
        {{ range .Params.employment }}
        <li>{{ . | markdownify | emojify }}</li>
        {{ end }}
    </ul>

    <div class="about-title2">Education</div>
    <ul>
        {{ range .Params.education }}
        <li>{{ . | markdownify | emojify }}</li>
        {{ end }}
    </ul>

    <div class="about-title2">Research Interests</div>
    <ul>
        {{ range .Params.research_interests }}
        <li>{{ . | markdownify | emojify }}</li>
        {{ end }}
    </ul>

    <div class="about-title2">Contact</div>
    <div>Email: {{ .Params.email | emojify }}</div>


    <div class="cv-download">
        <div class="btn-links">
            <a class="btn btn-outline-secondary grey-button"
               href="{{ .Params.cv_link.url }}" target="_blank">
                {{ .Params.cv_link.name }}
            </a>
        </div>
    </div>


</div>

{{ end }}
