{{ define "main" }}



<div class="container page-research">

  <div class="research-subtitle">Working Papers</div>
  <ul>
    {{ range .Params.working_papers }}
    <li class="research-item">
      {{ with .title_link }}<a href="{{ . }}" class="search-title-link">{{ end }}
        {{ .title | markdownify | emojify }}{{ with .title_link }}</a>{{ end }},


      <span>{{ .author_text | markdownify | emojify  }}</span>
    </li>
    {{ end }}
  </ul>


  <div class="research-subtitle">Publications</div>
  <ul>
    {{ range .Params.publications }}
    <li class="research-item">
      {{ with .title_link }}<a href="{{ . }}" class="search-title-link">{{ end }}
        {{ .title | markdownify | emojify }}{{ with .title_link }}</a>{{ end }},


      {{ with .author_text }}<span>{{ . | markdownify | emojify  }}</span>{{ end }}

      {{ with .year }}<span> {{ . | markdownify | emojify  }}</span>{{ end }}

      {{ with .journal }}<em> {{ . | markdownify | emojify  }}</em>{{ end }}

    </li>
    {{ end }}
  </ul>



  <div class="research-subtitle">Others（以及中文发表）</div>
  <ul>
    {{ range .Params.others }}
    <li class="research-item">
      {{ with .title_link }}<a href="{{ . }}" class="search-title-link">{{ end }}
        {{ .title | markdownify | emojify }}{{ with .title_link }}</a>{{ end }}


      {{ with .author_text }}<span>({{ . | markdownify | emojify  }}), </span>{{ end }}

      {{ with .year }}<span>{{ . | markdownify | emojify  }}, </span>{{ end }}

      {{ with .journal }}<em>{{ . | markdownify | emojify  }}</em>{{ end }}

    </li>
    {{ end }}
  </ul>





</div>



{{ end }}
